@font-face {
	font-family: cool_font;
	src: url('');
}




/* CSS Document */
a, abbr, acronym, address, applet, area, b, base, basefont, bdo, big, blockquote, body, br, button, caption, center, cite, code, col, colgroup, dd, del, dir, div, dfn, dl, dt, em, fieldset, font, form, frame, frameset, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, input, ins, isindex, kbd, label, legend, li, link, map, menu, noframes, noscript, object, ol, optgroup, option, p, param, pre, q, s, samp, select, small, span, strike, strong, style, sub, sup, textarea, tt, u, ul, var {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align: baseline;
 background:none;
}
ol, ul {
 list-style:none;
}
h1, h2, h3, h4, h5, h6, li {
    
    
    
    
 line-height:100%;
}
table {
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 100%;
    border-collapse:
    collapse; border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
    padding:3px;
    text-align: center;
}

td {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
    padding:3px;
}
input, textarea, select {
 font:11px Arial, Helvetica, sans-serif;
 vertical-align:middle;
 padding:0;
 margin:0;
}
form, fieldset {
 border-style:none;
}

/* general setting */
htm,body {
 height:100%;
 background:url(../images/body.jpg) no-repeat center  top;
 color:#000;
 font-size:12px;
 font-family:SolaimanLipi;


}
a {
 text-decoration:none;
}
.left {
 float:left;
}	
.right {
 float: right;
}
.clr {
 height:0;
 font-size:0;
 clear:both;
}
p {
 font-size:12px;
 color:#767676;
 line-height:18px;
}
#wrapper{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#main_blog{
    margin: auto;
    overflow: hidden;

    width: 1008px;
}

#header{
    margin: 5px auto;
    overflow: hidden;
    width: 100%;
    
}
.logo{
    float: left;
    display: inline;
width: 117px;
height: 118px;
    
}

.gov_logo{
    float: right;
    display: inline;
    width: 115px;
    height: 117px;
}

.mid_blog {
float: left;
display: inline;
 width: 768px;

}
.mid_blog img{
    margin: auto!important;
    overflow: hidden;
    width: 424px;
    display: block;
}

#head_nav{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-top: 13px;
   
    
}
.nav{
    float: left;
    display: inline;
}
.lefts{
    float: left;
    display: inline;
    background: url(images/left.png) no-repeat;
    height: 39px;
    width: 8px;
}
.mids{
    float: left;
    display: inline;
    background: url(images/mid.png) repeat-x;
    height: 39px;
    width: auto;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
}

.rights{
    float: left;
    display: inline;
    background: url(images/right.png) no-repeat;
    height: 39px;
    width: 10px;
}
.nav li{
    display: inline;
    margin-right: 4px;
    float: left;
}
.mids:hover{
  color: #000;
}

#container{
    margin: auto;
    overflow: hidden;
  width: 100%;
  background: url(../images/container.jpg)  repeat-y;
}
.dfdsf{
     margin: auto;
    overflow: hidden;
  width: 100%;
  height: 2px;
  background: url(../images/1_03.jpg)   no-repeat; 
}
#slider{
    width:981px;
  margin: 10px auto;
  overflow: hidden;
    height: 350px;
    background: url(../images/slider_bg.png) no-repeat;
}
.notice_blog{
    background: url("../images/top_news.png") no-repeat scroll 0 0 transparent;
 
    display: inline;
    float: left;
    height: 41px;
    margin: 10px 10px 13px 14px;
    width: 979px;
}

.title_news{

    display: inline;
    float: left;
    height: 39px;
    width: 79px;
     color: #fff;
}
.title_news span{
    font-size: 15px;
    font-weight:  normal;
    color: #fff;  line-height: 39px;
}

.each_news{
    float: left;
    display: inline;
    width: 883px;
      height: 39px;
  
    color: #fff;
}
.each_news span{
      font-size: 24px;
    font-weight:  normal;
    color: #fff;
    line-height: 39px;
}

.main_content_blog{
    width: 980px;
    margin:48px auto 14px;
    background: #fff;
padding-top: 14px;
    overflow: hidden;
 padding-bottom: 20px;
   
  
}

.left_bar{
    float: left;
    display: inline;
    width: 224px;
  
}
.right_bar{
     float:  right;
    display: inline;
    width: 224px;

}
.sidebar{
    float: left;
    display: inline;
    width: 224px;
    border: 1px solid #145589;

}
.sidebar_sec{
     float: left;
    display: inline;
    width: 224px;
    border: 1px solid #145589;
  
  margin-top: 15px;
}
.sidebar_sec h1{
    background: #19598c;
    border: 3px solid #2192ea;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 98%;
}

.sidebar h1{
    background: url(images/bd_bar.png) repeat-x;
    width: 100%;
    height: 33px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    line-height: 33px;
    font-weight: normal;
    
}
.sidebar h2{
    font-family: arial;
    font-size: 16px;
    color: #515050;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.content_blog{
    width: 956px;
    margin: auto;
    overflow:  visible;
    }

.mid_blog_box{
    float: left;
    display: inline;
    width: 492px;
    padding-left: 8px;
    margin-bottom: 4px;
 
 
}
.main_mid_blog{
  height: 300px;
    margin-bottom: 80px;
    width: 466px;
  
    
}
.top_blog_head{
    margin-bottom: 50px;
    
}

.top_blog_head h1{
     background: url("../images/bd_bar.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    height: 33px;
    line-height: 33px;
    margin-left: 11px;
    text-align: center;
    width: 100%;
    
}

.input_b{
    width:130px ;
    height: 25px ;
     background: url(../images/input.png) no-repeat;
     border: none;
}

.login tr td{
    font-family: arial;
    font-size: 11px;
}

#submits{
    float: right;
    display: inline;
    width: 60px;
    height: 19px;
    background: url(../images/sub.png) no-repeat;
    margin-right: 10px;
    cursor: pointer;
}
.super_mess{
    float: left;
    display: inline;
    width:215px ;
   height: 278px;
   background: url(../images/msg_bg.png) no-repeat;
   margin-top: 5px;
   margin-left: 4px;
}

.top_blog_head p{
      border: 1px solid #145589;
    color: #000000;
    font-size: 17px;
    height: 300px;
    margin-left: 11px;
    padding: 5px;
    text-align: justify;
    width: 454px;
    line-height: 28px;
  
}
.news_move{ width: 95%;
margin: auto;
overflow: hidden;

}
.news_move h3{
    font-size: 13px;
    color: #000;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 5px;
    padding-top: 3px;
    margin-bottom: 5px;
}
.news_move p{
      font-size: 12px;
    color: #000;
    text-align:   left;
}

.comme{ background: url("../images/comm.png") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    font-size: 17px;
    margin-left: 5px;
    margin-top: 9px;
    padding-left: 24px;
 
}
.pic_comm{
  border: 1px solid #E9E9E6;
    display: block;
    float: left;
    height: 121px;
    margin: 20px 0 0 7px;
    width: 119px;
}
.name_b{
    float: left;
    display: block;
    width: 100%;
   
}
.name_b h4{
     font-size: 14px;
    margin-top: 6px;
    text-align: center;
    text-transform: uppercase;
}
.name_b span{
    font-size: 15px; text-align: center;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
}
.name_b p{
    font-size: 12px; text-align: center;
    display: block;color: #c54155;font-weight: bold;
}

.paraa{
    text-align: justify;
    padding: 4px;
    color: black;
}
.deta{
     display: inline;
    float: right;
    height: 17px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 7px;
    width: 54px;
    
}

.sidebar_sec h2{
    float: left;display: block;
    width: 98%;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 17px;
    
}
.sidebar_sec p{
    text-align: justify;
    font-size: 17px; padding-left: 5px;
    padding-right: 5px;
}


.sidebar_sec ul{
    width: 100%;
    display: block;
    overflow: hidden;
  padding-top: 10px;
  
    padding-bottom: 20px;
}
.sidebar_sec ul li{ 
      background: url("../images/point_03.png") no-repeat scroll left center transparent;
  line-height: 18px;
    font-size: 16px;
    margin: auto;
    overflow: hidden;  color: #417eb1;
    width: 173px;}

.sidebar_sec ul li a{
    color: #417eb1;
    padding-left: 09px;
  
   
}

.sidebar_sec ul li:hover{
   text-decoration: underline;  color: #417eb1;
 
}

#parsa{text-align: justify;
color: rgb(32, 94, 143);
margin-top: -4px;
width: 173px;
display: block;
overflow: hidden;
margin-left: 18px;}


.parsas{width:214px;
margin:10px auto;
overflow:hidden;

background:url(../images/d_03.png) no-repeat;}


.vision_box_main{
	float:left;
	display:inline;
	}

.eascd{
	float:left;
	display:inline;}
	.eascd span{
		float:left;
		text-align:left;
		font-size:31px;
		color:#205e8f;
		margin-left:3px;
	}
	.eascd p{
		float:left;
		text-align:left;
		font-size:10px;
		width:188px;
		color:#205e8f;
		margin-top:3px;
		line-height:16px;
		
	}
.main_min_boxs{
 border: 1px solid #145589;
    margin: 14px auto;
    overflow: hidden;
    width: 466px;

	
	
	}
.main_min_boxs h1{
      font-size: 20px;
    font-weight: normal;
    padding-left: 3px;
    padding-top: 4px;
	}
.main_min_boxs p{
       color: #333333;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    padding: 5px;
    text-align: justify;
}

.full_oo{
    width: 100%;
    margin: auto;
    overflow: hidden;
 
    padding-bottom: 10px;
}

.full_oo_left{
  display: inline;
    float: left;
    margin-left: 8px;
    width: 320px;
  
}

.dates{
   background: url("../images/qq_03.png") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 32px;
    margin-top: 17px;
    width: 43px;
}
.dates span{
  color: #FFFFFF;
    font-size: 9px;
    margin-left: 6px;
    text-transform: uppercase;
}

#sin{
  color: #31353c;
    display: block;
    margin-left: 8px;
    margin-top: -4px;
}
.main_min_boxs img{
    border: 1px solid #909494;
    width: 464px;
    margin-top: 6px;
    height: 230px;
    
}


#footer{
  
 
    height: 111px;
    margin: 5px auto;
    overflow: hidden;
    width: 957px;
    background: #057578;
}

.main_fooss{
float: left;
display: inline;
width: 313px;margin: 10px 1px 0px 4px;
height: 89px ;
background: url(../images/add_11.png) no-repeat;

}
.main_fooss img{
   display: inline;
    float: left;
    height: 69px;
    margin: 8px;
    width: 74px;
}

.tefxg{
    float: right;
    margin-right: 16px;
    display: inline;

}
.tefxg h3{
   color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    margin-top: 17px;
    text-align: right;
    
}

.tefxg span{
   color: #000;
    font-weight: normal;
    margin-top: 6px;
    text-align: right;float: right;
    
}

.inner_page_blog{
    display: inline;
    float: left;
    margin-left: 15px;
    min-height: 1815px;
    padding-bottom: 12px;
    width: 710px;
}

.top_h11{
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #145589;
    height: 40px;
}

.top_h11 h1{
    color: #000000;
    font-size: 31px;
    font-weight: normal;
    line-height: 35px;
    text-align: center;
}

.top_h11 h2{
    text-align: center;
    font-size: 22px;
    color: #0a3557;
    margin-top: 11px;
    font-weight: normal;
    margin-bottom: 17px;
    font-family: cool_font; /* no .ttf */
}
.tips_bslo{
    width: 690px;
    margin: 10px auto;
    
      font-size: 18px;
      
    
}
.tips_bslo li{
    font-size: 14px;
    margin-bottom: 7px;
    text-align: justify;
    color: #000;
  
    
}

.bor{
    width: 100%;
    margin: auto;
    overflow: hidden;
       border-top: 1px solid #145589;
}

.tsos{

    float: left;
    margin-left: 23px;
    overflow: hidden;
    width: 708px;
    
}
.tsos h1{
    width: 100%;
    margin: auto;
    overflow: hidden;
    font-size: 30px;
    font-weight: normal;
    color: #1d5c8e;
    text-align: center;
    padding: 10px;
}



.kfndsfkd{
    margin: auto;
 width: 100%;

}











































/* top level
--------------------------------------------*/
.menuTemplate2
{
    margin: 0 auto; width: auto;float:left;
    /*behavior: url("/horizontal/menuh/cssmenu.htc");*/
    position:relative;
    z-index:4;
    height: 36px;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;

}

.menuTemplate2 li
{
    padding: 0;
    float: left;
    height: 34px;
    _height:36px;/*IE6 Hack*/
    position: relative;/*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
    z-index:5;
      border-radius:0.4em 0.4em 0 0; -moz-border-radius:0.4em 0.4em 0 0; -webkit-border-radius: 0.4em 0.4em 0 0; -khtml-border-radius: 0.4em 0.4em 0 0;
    background: url(../images/mid.png) repeat-x;

    border-left:1px solid;
    border-right:1px solid;
    border-top:2px solid;
    border-color:transparent;
    _border-color:#FFF;/*IE6 Hack*/margin-left: 5px;
}

.menuTemplate2 li:hover, .menuTemplate2 li.onhover
{
  
}
.menuTemplate2 a
{
    padding:0 9px;
    line-height: 34px; /*Note: keep this value the same as the height of .menuTemplate2 li */
    font-size: 13px;
    font-weight:  bold;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    color: #fff;
    position: relative;
  
   }


.menuTemplate2 li:hover a, .menuTemplate2 li.onhover a
{
    background-color: #EEE;
    color: #000;
    z-index: 9; 
    text-decoration: none;
}
.menuTemplate2 a.arrow
{
    background: url('') no-repeat right center;
}
 
        
/*Used to align a top-level item to the right*/        
.menuTemplate2 li.menuRight
{
    float: right;
    margin-right: 0px;
}
        
/*for the top-level separators*/
.menuTemplate2 li.separator
{
    display:none;
}
               
        
/* sub level
--------------------------------------------*/
        
.menuTemplate2 .drop
{
    position: absolute;
    z-index:5;
    left: -9999px;
    border: 1px solid #DDD;
    border-bottom:2px solid #B00;
    background: #FFF url('') repeat-x 0 0;
    text-align: left;
    padding: 20px;  
    top:31px;
}

.menuTemplate2 .drop a
{
    padding-left: 0px;
    padding-right: 0px;
    line-height: 24px;
    font-size: 18px;
    font-weight: normal;
    display: inline;
    text-align: left;
  
    position: static;
    z-index: 0;
}

.menuTemplate2 li:hover .drop, .menuTemplate2 li.onhover .drop
{
    left: -1px;/*Use this property to change offset of the dropdown*/
}
.menuTemplate2 li:hover .dropToLeft, .menuTemplate2 li.onhover .dropToLeft
{
    left: auto;
    right: -1px;
}
.menuTemplate2 li:hover .dropToLeft2, .menuTemplate2 li.onhover .dropToLeft2
{
    left: auto;
    right: -60px;
}

/* Elements within the drop down sub-menu
--------------------------------------------*/

.menuTemplate2 div.drop div div
{
    padding: 6px 20px;
}
.menuTemplate1 li:hover .drop a, .menuTemplate1 li.onhover .drop a
{
    background: none;
    background-image:none;
    padding:0 0;
}
.menuTemplate2 div.drop div a
{
    line-height: 24px;  
    color: #048;
    background:none;
}
.menuTemplate2 div.drop div a:hover
{
    text-decoration:none;
    cursor:pointer;
    color:Red;
}

.menuTemplate2 div.left {float:left;}

 
     
/* CSS3 effects
--------------------------------------------*/

/*for top-level*/
.decor2_1 
{
}

/*for submenu.*/
.decor2_2 
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 0 0 14px #AAA;
    -webkit-box-shadow: 0 0 14px #AAA;
    box-shadow: 0 0 14px #AAA;  
}












